* {
  margin: 0;
  padding: 0;
}

.full {
  display: grid;
  grid-template-rows: 40px 400px 400px 450px 700px 600px 600px 500px 560px 500px;
}
.item1 {
  display: grid;
  grid-template-columns: 25px 100px 700px 100px 120px 50px 50px auto;
  padding-top: 5px;
  padding-left: 55px;
}
.i11 {
  padding-left: 3px;
  padding-top: 3px;
}
.i11 img {
  height: 18px;
  width: 18px;
}
.i12 {
  padding-top: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.i13 {
  padding-top: 3px;
  padding-left: 120px;
}
.i13 li {
  float: left;
  list-style-type: none;
  padding-left: 30px;
}
.i14 {
  padding-left: 70px;
}
.i14 img {
  height: 25px;
  width: 30px;
}
.i15 {
  padding-top: 3px;
  padding-left: 3px;
}
.i16,
.i17 {
  padding-top: 3px;
}
.i16 img {
  height: 20px;
  width: 25px;
  opacity: 0.5;
}
.i17 img {
  height: 20px;
  width: 25px;
  opacity: 0.5;
}

.i18 button {
  background-color: orange;

  font-size: 10px;
  color: white;
  width: 120px;
  height: 30px;
  text-align: center;
  border-color: white;
}
.item2,
.item3,
.item4 {
  display: grid;
  grid-template-columns: 800px auto;
}
.item2,
.item4,
.item7,
.item10 {
  background: linear-gradient(90deg, rgb(174, 2, 174), rgb(59, 0, 59));
  padding-top: 30px;
}
.item2 img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.item5 {
  margin: 0 auto;
  background-color: rgb(205, 203, 203);
  width: 100%;
}
.item5 td {
  background-color: white;
  display: grid;
  grid-template-rows: 150px 150px;
}
.i31 {
  padding-left: 500px;
  padding-top: 80px;
}
.item3 img {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item9,
.item8 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.item2 h6,
.item3 h6,
.item4 h6,
.item5 h6,
.item6 h6,
.item9 h6 {
  color: orangered;
}
.item2 h2,
.item7 h2,
.item7 h6 {
  color: rgb(255, 254, 254);
}
.item3 h2 {
  color: black;
}
.item2 p,
.item7 p {
  font-size: 10px;
  color: rgb(255, 254, 254);
}
.item3 p {
  font-size: 10px;
  color: black;
}
.i21 {
  padding-left: 430px;
  padding-top: 80px;
  line-height: 25px;
}
.i32 {
  padding-top: 30px;
  line-height: 25px;
}
.i32 span {
  font-size: small;
  color: blue;
}
.i21 button,
.i32 button {
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background: linear-gradient(90deg, rgb(210, 79, 23), rgb(255, 77, 0));
  color: white;
  font-size: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.item5,
.item6,
.item9 {
  display: grid;
  grid-template-rows: 150px 230px;
  text-align: center;
}
.i52 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 6px;
  grid-template-rows: 200px 200px;
  row-gap: 6px;
}
.box {
  display: grid;
  grid-template-rows: 100px auto;
  background-color: white;
  text-align: center;
  font-size: 8px;
  line-height: 14px;
}
.i51,
.i61,
.i71,
.i91 {
  padding-top: 40px;
  line-height: 25px;
}
.item8 {
  display: grid;
  grid-template-columns: 800px 300px;
  column-gap: 30px;
  background-image: url(bb.jpg);
  padding-top: 20px;
}
.item10 {
  display: grid;
  grid-template-rows: 100px 40px 250px auto;
}
.i92 {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  margin: 0 auto;
  column-gap: 50px;
}

.che {
  display: grid;
  grid-template-rows: 130px 185px;
  box-shadow: 0 3px 10px rgb(44, 1, 44);
  border: 4px solid white;
}
.more1 {
  background-image: url(11.jpg);
}
.i102 {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 70px;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 25px;
}
.i102 li {
  list-style-type: none;
  padding-top: 16px;
}
.i102 p,
.i102 li {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.i62 {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  line-height: 30px;
}
.logo12 {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 1px solid black;
}
.logo11 {
  height: 20px;
}
.i103 {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 500px auto;
  margin: 0 auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 10px;
}

.bb2 li {
  list-style-type: none;
  float: left;
  padding-left: 35px;
}
.i82 input {
  background-color: rgb(218, 216, 216);
  height: 35px;
  width: 250px;
  border: 1px solid white;
}
.i82,
.i81 {
  padding-top: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.i81 {
  padding-left: 400px;
}
.i82 button {
  width: 250px;
  height: 40px;
  background-color: rgb(255, 98, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  color: white;
}
.i81 {
  display: grid;
  grid-template-rows: 60px 120px 50px 50px;
  row-gap: 10px;
}
.box i {
  background-color: rgb(44, 1, 44);
  border-radius: 100%;
  width: 60px;
  height: 40px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.box {
  padding-top: 30px;
  padding-bottom: 20px;
}
.bb2 {
  padding: 5px;
}
.iii2,
.iii3,
.iii4 {
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.bot1 i {
  margin-right: 15px;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 12px;
  padding: 5px;
}
.bot3 i {
  color: orange;
  font-size: 8px;
}
.bot3 span {
  font-size: 10px;
  font-weight: 300;
}
.bot4 input {
  border: 2px solid white;
  background-color: rgba(242, 242, 242, 0);
  width: 150px;
  height: 25px;
}
.bot4 button {
  color: white;
  background: linear-gradient(90deg, rgb(220, 107, 2), rgb(235, 153, 2));
  text-align: center;
  height: 30px;
  width: 154px;
  font-size: 7px;
}
.item7 {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  padding-top: 50px;
  padding-left: 300px;
}
.i72 {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 130px);
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.comm {
  display: grid;
  grid-template-rows: 55px 5px;
  color: rgba(165, 165, 165, 0.9);
}
.comm i {
  font-size: 45px;
}
.comm i:hover {
  color: black;
}
.ttt {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}
.i101 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25px 700px 20px 150px 20px 100px;
  color: white;
  padding-top: 20px;
}
.bbl {
  padding-top: 10px;
}
.i42 {
  padding-top: 40px;
}
.i42 img {
  height: 330px;
}
.i41 {
  padding-left: 300px;
  padding-top: 30px;
}
.i41 p {
  color: orange;
  font-size: 11px;
}
.i41 h2 {
  color: white;
}
.i41 td {
  width: 150px;
  height: 50px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.271);
  box-shadow: 0 3px 10px rgb(44, 1, 44);
}
.i71 img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.now {
  line-height: 19px;
  display: grid;
  grid-template-columns: 60px auto;
}
.now2 {
  padding-top: 5px;
}
.lastt {
  display: grid;
  grid-template-columns: 20px 100px 20px 40px;
  padding-top: 20px;
}
.more2 {
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
}
.random {
  display: grid;
  grid-auto-rows: 20px 5px 20px 5px 20px 5px;
  row-gap: 8px;
  font-size: 10px;
}
.random2 {
  display: grid;
  grid-template-columns: 276px 24px;
}
.random4 {
  display: grid;
  grid-template-columns: 240px 60px;
}
.random6 {
  display: grid;
  grid-template-columns: 285px 15px;
}
.rr1 {
  background-color: purple;
}
.rr2 {
  background-color: rgb(179, 179, 209);
}
.random1 {
  display: grid;
  grid-template-columns: 280px 20px;
}
